.bst-menu {
	font: 14px Verdana;
}

/* arrows */
.bst-menu .arrow {
  cursor: pointer;
  padding: 8px 5px;
  margin: 3px;
  background-color: #aaa;
  color: #555;
  opacity: 0.4;
  z-index: 100;
  border: 0px solid Silver;
}
.bst-menu .arrow:hover {
  opacity: 0.9;
}
.bst-menu .arrow-right{
  float:right;
}

.bst-menu .arrow-left {
  float:left;
}

/* disable wrapping inside tab container*/
.bst-menu .tab-container {
	overflow: hidden;
	z-index: -1;
}
.bst-menu .nav-tabs {
	min-width: 2800px; /* prevents wrapping */
}

/* link */
.bst-menu .nav>li>a {
	color: #2954ff;
	background: -webkit-linear-gradient(top, rgba(250,250,250,1) 40%, rgba(190,190,190,1) 100%);
	background: -o-linear-gradient(top, rgba(250,250,250,1) 40%, rgba(190,190,190,1) 100%);
	background: linear-gradient(to bottom, rgba(250,250,250,1) 40%, rgba(190,190,190,1) 100%);
	border: 1px solid #ccc;
	font-weight: bold;
	padding: 8px 13px;
}
.bst-menu .nav>li>a:hover {
	color: #1e39bd;
	background: #f0f0f0;
	border-top: 2px solid rgba(0, 100, 0, 0.4);
}
.bst-menu .nav>li.active>a {
	color: #444;
	background: #FFF;
}

/* tabs */
.bst-menu .nav-tabs {
	border-bottom: 0px solid #fff;
}
.bst-menu .nav-tabs li.active>a {
	border-top: 2px solid #006624;
	border-bottom: 0px solid #fff;
	border-color-bottom: transparent;
}
.bst-menu .nav-tabs li.active {
	border-bottom: 0px solid #fff;
}
.bst-menu .nav-tabs li:not(.active)>a {
	border-bottom: 2px solid #ccc;
}

/* tab content */
.bst-menu .tab-content {
	padding: 0px 25px;
	margin-top: 10px;
	border-left: 3px solid #ccc;
	border-right: 3px solid #ccc;
}