body {
	background: #f0f0f0;
}

.container {
	background-color: #FFF;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	min-height: 800px;
	position: relative;
	top: 1px;
	margin-bottom: 30px;
	padding-bottom: 80px;
}

.navbar-default {
	border-radius: 0px !important;
}

/* header */
.header-title {
	color: #f0f0f0;
	position: relative;
	top: 45px;
	left: 10px;
	text-shadow: 0 0 2px #42719E;
}

@media screen and (min-width: 768px) {
	header>div {
		min-height: 45px !important;
		background: transparent;
	}

	header>div>nav {
		position: absolute !important;
		bottom: 0px;
		width: 100%;
		margin-bottom: 0px !important;
		margin-left: -15px !important;
		margin-right: -15px !important;
	}
}


/* main */
main {
	padding: 15px;
}
main>h1 {
	margin-left: 30px;
	width: 70%;
	border-bottom: 1px solid #aaa;
}

main>h1~h2 {
	margin-left: 10px;
	margin-top: 30px;
	color: #666;
}


/* footer */
footer>.well {
	position: absolute;
	bottom: 0px;
	width: 100%;
	margin-bottom: 0px;
	-webkit-border-radius: 0px;
	        border-radius: 0px;
	height: 50px;
	text-align: center;
	display: table-cell;
}
footer>.well>p {
	font: 12px Verdana;
}


