<div class="well">
    
    <h2>HTML text</h2>

    <center>
      <a href="#" class="btn btn-info"><span class="glyphicon glyphicon-home"></span> Home</a>
      <button class="btn btn-danger">Button 2</button>
    </center>

    <div class="clearfix">&nbsp;</div>
    
    Suspendisse a <b>orci facilisis</b>, dignissim tortor vitae, ultrices mi. Vestibulum a iaculis lacus. Phasellus vitae 
    convallis ligula, nec volutpat tellus.

    Klik this <a href="#"> link text</a> !
    
    Vivamus scelerisque mollis nisl, nec vehicula elit egestas a. Sed 
    luctus metus id mi gravida, faucibus convallis neque pretium. Maecenas quis sapien ut leo fringilla tempor 
    vitae sit amet leo. Donec imperdiet tempus placerat.

</div>
