.carousel-container {
	border:1px dashed #27F17B;
	padding:0px;
	margin-top: 100px;
}

.carousel-content, .carousel-content>img {
      height: 320px;
      margin: 0px;
      overflow: hidden;
}

.carousel-content>div {
      margin: 10px;
      height: 300px;
      overflow: hidden;
}