| <button id="jbt1" class="btn btn-link">expand all</button> |
<button id="jbt2" class="btn btn-link">collapse all</button> |
<button id="jbt3" class="btn btn-link">show active</button> |
        	

<ul class="list-group compact clicked"> 
  <li class="list-group-item header1" id="01">section 1 <span class="badge">14</span></li> 
  <li class="list-group-item header1" id="02">section 2</li>
  <li class="list-group-item header1" id="03">section 3 (intentionall error)</li>
</ul> 