| <button id="jbt1" class="btn btn-link">expand all</button> |
         	<button id="jbt2" class="btn btn-link">collapse all</button> |
         	<button id="jbt3" class="btn btn-link">show active</button> |
        	

            <ul class="list-group compact"> 
              <li class="list-group-item header1" id="01-01">section 1 <span class="badge">14</span></li> 
              <li class="list-group-item"><a href="#">link 1 -1</a></li> 
              <li class="list-group-item active"><a href="#">ACTIVE link 1 -2</a></li> 
          
              <li>
              <ul> 
                <li class="list-group-item header2">section 1.1</li> 
                <li class="list-group-item"><a href="#">link 1.1 -1</a></li> 
                <li class="list-group-item"><a href="#">link 1.1 -2</a></li>
          
                <li>
                <ul>
                  <li class="list-group-item header2">section 1.1.1 <span class="badge pull-left">14</span></li> 
                  <li class="list-group-item"><a href="#">link 1.1.1 -1</a></li>
          
                  <li>
                  <ul>
                    <li class="list-group-item header2">section 1.1.1.1</li> 
                    <li class="list-group-item"><a href="#">link 1.1.1.1 -1</a></li>

                    <li>
                  	<ul>
                  		<li class="list-group-item header2">section 1.1.1.1.1</li> 
                    	<li class="list-group-item"><a href="#">link 1.1.1.1.1 -1</a></li>
                    	<li class="list-group-item"><a href="#">link 1.1.1.1.1 -2</a></li>
                  	</ul>
                  	</li>

                  </ul>
                  </li>
          
                </ul>
                </li>
          
              </ul>
              </li>
                
              <li class="list-group-item header1">section 2</li> 
              <li class="list-group-item list-group-item-success"><a href="#">link 2 -1 - success</a></li> 
              <li class="list-group-item list-group-item-info"><a href="#">link 2 -2 - info</a></li> 
              <li class="list-group-item list-group-item-warning"><a href="#">link 2 -3 - warning</a></li> 
              <li class="list-group-item list-group-item-danger"><a href="#">link 2 -4 - danger</a></li>
              <li class="list-group-item"><a href="#">link 2 -5 LONG TEXT: lorem ipsum dolor sit amet, consectetur adipisicing elit. non explicabo</a></li>
          
            </ul> 