<li class="list-group-item"><a href="#">link 1.1 -1</a></li> 
<li class="list-group-item"><a href="#">link 1.1 -2</a></li>
          
<li class="kontejner">
<ul>
	<li class="list-group-item header2" id="01-01-01">section 1.1.1 <span class="badge pull-left">14</span></li>
</ul>
</li>