<li class="list-group-item"><a href="#">link 1 -1</a></li> 
<li class="list-group-item"><a href="#">ACTIVE link 1 -2</a></li> 
          
<li class="kontejner">
<ul> 
  <li class="list-group-item header2" id="01-01">section 1.1a</li>     
</ul>
</li>