<li class="list-group-item list-group-item-success"><a href="#">link 2 -1 - success</a></li> 
              <li class="list-group-item list-group-item-info"><a href="#">link 2 -2 - info</a></li> 
              <li class="list-group-item list-group-item-warning"><a href="#">link 2 -3 - warning</a></li> 
              <li class="list-group-item list-group-item-danger"><a href="#">link 2 -4 - danger</a></li>
              <li class="list-group-item"><a href="#">link 2 -5 LONG TEXT: lorem ipsum dolor sit amet, consectetur adipisicing elit. non explicabo</a></li>