.horizz-container {
	border:1px dashed #27F17B;
	margin-top: 50px;
	padding: 10px;
}

.list-group.list-inline {
	border: 1px solid rgba(0, 0, 0, 0.075);
	box-shadow: 0 5px 2px rgba(0, 0, 0, 0.075);
}

.list-group.list-inline > li {
	margin: 10px;
	width: 310px; /* width of mobile device */
	padding: 5px 5px;
	vertical-align: top;
}
.list-group.list-inline.valign-middle > li {
	vertical-align: middle;
}
.list-group.list-inline.valign-bottom > li {
	vertical-align: bottom;
}

.list-group.list-inline  li  h1,h2,h3,h4 {
	margin: 8px 5px;
}

.list-group.list-inline  li>a {
	color: #555;
	text-decoration: none;
}
.list-group.list-inline  li>a:hover {
	color: #888;
	text-decoration: none;
}