.jbt-menu {
	margin-top: 100px;
}
.jbt-menu>ul {
	border-right: 5px solid green;
}
.jbt-menu>button {
	font-size: small;
}


/* compacting */
.jbt-menu .compact .list-group-item {
	padding: 3px 5px;
}

/* basic features */
.jbt-menu  .list-group-item:not(.list-group-item-success):not(.list-group-item-info):not(.list-group-item-warning):not(.list-group-item-danger):not(.active){
	background-color: #f0f0f0;
}
.jbt-menu  .list-group-item:hover:not(.active) {
	background-color: #e0e0e0 !important;
}
.jbt-menu  .list-group-item {
	font:14px Georgia;
}
.jbt-menu  .list-group-item.header1 {
	font:14px Verdana;
	font-weight: bold;
	letter-spacing: 0.1em;
	cursor: pointer;
}
.jbt-menu  .list-group-item.header2 {
	font:12px Verdana;
	font-weight: bold;
	cursor: pointer;
}
.jbt-menu  .badge {
	font-size: smaller;
}
.jbt-menu li {
	list-style-type: none;
}

/* list indentation */
.jbt-menu  ul li>ul li { /* 2nd level */
   	margin-left: -15px;
}
.jbt-menu  ul li>ul  li>ul li { /* 3rd level */
   	margin-left: -15px;
}
.jbt-menu  ul li>ul li>ul li>ul li { /* 4th level */
   	margin-left: -15px;
}
.jbt-menu  ul li>ul li>ul li>ul li>ul li { /* 5th level */
   	margin-left: -15px;
}

/* active link */
.jbt-menu  .list-group-item.active>a {
	color: #DDD;
}

/* misc */
.jbt-menu .badge.pull-left {
	margin-right: 5px;

}